.boxinput {
  padding: 2rem;
  text-align: center;
  position: relative;
}
.boxinput input {
  border: 1px solid black;
  color: gray;
}
.boxinput .icon {
  color: rgb(41, 17, 100);
  cursor: pointer;
  position: absolute;
  top: 55%;
  left: 20%;
}
